{{- $customProfilesMountPath := "/rosette/server/custom-profiles" -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "rosette-server.fullname" . }}
  labels:
    {{- include "rosette-server.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "rosette-server.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: "restful-server"
  template:
    metadata:
      annotations:
        checksum/conf: {{ print .Values.conf | sha256sum }}
        checksum/config: {{ print .Values.config | sha256sum }}
        checksum/rosapi: {{ print .Values.rosapi | sha256sum }}
        checksum/license-file: {{ print .Values.licenseSecretName | sha256sum }}
        checksum/enabledLanguages: {{ print .Values.enabledLanguages | sha256sum }}
        checksum/roots-versions: {{ print .Values.roots.version | sha256sum }}
        {{ with .Values.podAnnotations }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "rosette-server.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: "restful-server"
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "rosette-server.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      initContainers:
        - name: restful-server-init
          image:  {{ include "rosette-server.image" .  | quote }}
          command: [ 'bash', '-c',
                     'bash /init-scripts/init.sh'
          ]
          env:
            - name : ENDPOINTS
              value: {{ join " " .Values.enabledEndpoints }}
            {{- if (eq .Values.indoccoref.enabled true) }}
            - name: COREF_URL
              value: {{ include "indoc-coref.fullname" .Subcharts.indoccoref }}:{{ .Subcharts.indoccoref.Values.service.port }}
            {{- end }}
            {{- if (eq .Values.apikeys.enabled true) }}
              {{- include "apikeys-database-env-variables" . | nindent 12 }}
            {{- end }}
            {{- if .Values.customProfilesVolumeClaimName }}
            - name: CUSTOM_PROFILES_PATH
              value: {{ $customProfilesMountPath }}
            {{- end }}
          volumeMounts:
            - mountPath: "/configs"
              name: config
            - mountPath: "/rosapi"
              name: config-rosapi
            - mountPath: "/override"
              name: init-override
            - mountPath: "/init-scripts"
              name: init-scripts
            - mountPath: "/conf"
              name: server-conf
      containers:
        - name: restful-server
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image:  {{ include "rosette-server.image" .  | quote }}
          command: ["/bin/bash","-c"]
          args: ["/rosette/server/bin/launch.sh console"]
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: ROSAPI_LICENSE_PATH
              value: /rosette/server/config/rosapi/rosette-license.xml
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /rest/v1/info
              port: http
            {{- toYaml .Values.probes | nindent 12 }}
          readinessProbe:
            httpGet:
              path: /rest/v1/info
              port: http
            {{- toYaml .Values.probes | nindent 12 }}
          volumeMounts:
            - mountPath: "/rosette/server/config/rosapi/rosette-license.xml"
              subPath: "rosette-license.xml"
              name: rosette-license
              readOnly: true

            {{- range $file, $content := .Values.config -}}
              {{- $initOverridables := list "com.basistech.ws.worker.cfg" "com.basistech.ws.frontend.cfg" "com.basistech.ws.apikeys.cfg" -}}
              {{- if not (has $file $initOverridables) }}
            - mountPath: {{ print "/rosette/server/launcher/config/" $file | quote }}
              name: config
              subPath: {{ print $file }}
              {{- else }}

                {{- if and (eq $file "com.basistech.ws.frontend.cfg") (not $.Values.customProfilesVolumeClaimName) }}
            - mountPath: {{ print "/rosette/server/launcher/config/" $file | quote }}
              name: config
              subPath: {{ print $file }}
                {{- end }}

  {{/* If the feature is enabled mount it from the overrides volume instead of the config-map created from the values.yaml */}}
                {{- if and (eq $file "com.basistech.ws.apikeys.cfg") }}
            - mountPath: "/rosette/server/launcher/config/com.basistech.ws.apikeys.cfg"
                  {{- if (eq $.Values.apikeys.enabled true) }}
              name: init-override
                  {{- else }}
              name: config  
                  {{- end }}
              subPath: "com.basistech.ws.apikeys.cfg"
                {{- end }}

              {{- end }}
            {{- end }}

            {{- if (eq .Values.indoccoref.enabled true) }}
              {{- range $file, $content := .Values.rosapi -}}
                {{- if not (eq $file "rex-factory-config.yaml") }}
            - mountPath: {{ print "/rosette/server/launcher/config/rosapi/" $file | quote }}
              name: config-rosapi
              subPath: {{ print $file }}
                {{- end }}
              {{- end }}
            - mountPath: "/rosette/server/launcher/config/rosapi/rex-factory-config.yaml"
              name: init-override
              subPath: "rex-factory-config.yaml"
            {{- else }}
            - mountPath: "/rosette/server/launcher/config/rosapi"
              name: config-rosapi
            {{- end }}

            {{- if (eq .Values.apikeys.enabled true) }}
              {{- range $file, $content := .Values.conf -}}
                {{- if not (eq $file "wrapper.conf") }}
            - mountPath: {{ print "/rosette/server/conf/" $file | quote }}
              name: server-conf
              subPath: {{ print $file }}
                {{- end }}
              {{- end }}
            - mountPath: "/rosette/server/conf/wrapper.conf"
              name: init-override
              subPath: "wrapper.conf"
            {{- else }}
            - mountPath: "/rosette/server/conf"
              name: server-conf
            {{- end }}

            - mountPath: "/rosette/server/roots"
              name: roots
            - mountPath: "/rosette/server/launcher/config/com.basistech.ws.worker.cfg"
              name: init-override
              subPath: "com.basistech.ws.worker.cfg"
            - mountPath: "/rosette/server/override/config/enabled-endpoints.yaml"
              name: init-override
              subPath: "enabled-endpoints.yaml"

            {{- if .Values.customProfilesVolumeClaimName }}
            - mountPath: {{ $customProfilesMountPath }}
              name: custom-profiles
            - mountPath: "/rosette/server/launcher/config/com.basistech.ws.frontend.cfg"
              name: init-override
              subPath: "com.basistech.ws.frontend.cfg"
            {{- end }}

          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - name: rosette-license
          secret:
            secretName: {{ .Values.licenseSecretName }}
        - name: config
          configMap:
            name: {{ include "rosette-server.fullname" . }}-config
        - name: config-rosapi
          configMap:
            name: {{ include "rosette-server.fullname" . }}-rosapi
        - name: server-conf
          configMap:
            name: {{ include "rosette-server.fullname" . }}-conf
        - name: roots
          persistentVolumeClaim:
            claimName: {{ include "rosette-server.fullname" . }}-roots-claim
        {{- if .Values.customProfilesVolumeClaimName }}
        - name: custom-profiles
          persistentVolumeClaim:
            claimName: {{ .Values.customProfilesVolumeClaimName }}
        {{- end }}
        - name: init-scripts
          configMap:
            name: {{ include "rosette-server.fullname" . }}-init-scripts
        - name: init-override
          emptyDir:
            sizeLimit: 5Mi
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
